:host {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  justify-content: space-between;
}

.left-bar {
  max-width: 229px;
  min-width: 229px;
  width: 229px;
}

.menu {
  display: block;
  height: 57px;
  flex-grow: 1;

  li {
    display: inline-block;
    height: 100%;
    line-height: 57px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    width: 55px;

    a {
      color: #fff !important;
    }

    &.active a {
      font-weight: 700;
    }
  }
}

.info {
  display: flex;
  align-items: stretch;
  margin-right: 53px;
  height: 57px;

  .pay-date {
    color: #fff;
    font-size: 10px;
    line-height: 57px;
    font-weight: 700;
    margin-lefT: 22px;

    img {
      margin-right: 8px;
      height: 12px;
      width: 12px;
    }
  }
}

@media(max-width: 1000px) {
  .left-bar {
    display: none;
  }
}

@media(max-width: 768px) {
  .info {
    margin: 0 20px 0 0;
  }

  .menu li {
    margin-right: 0;
  }

  .pay-date {
    span {
      display: none;
    }
  }
}
