<div class="header">{{ 'buyer.components.market-setting.title' | translate }}</div>

<ng-container *ngIf="market">
  <div class="container">
    <div class="name">
      {{ market.name }}
      <div>({{market.currency}})</div>
      <a class="btn btn-secondary pointer edit"
         *ngIf="!editMode"
         (click)="enableEditMode()">
        {{ 'buyer.components.market-setting.edit' | translate }}
      </a>
      <ng-container *ngIf="editMode">
        <a class="btn btn-primary pointer save"
           [class.hidden]="!editMode"
           (click)="save()">
          {{ 'buyer.components.market-setting.save' | translate }}
        </a>
        <a class="btn btn-secondary pointer edit"
           [class.hidden]="!editMode"
           (click)="cancelEditing()">
          {{ 'buyer.components.market-setting.cancel' | translate }}
        </a>
      </ng-container>
    </div>
    <div class="data apr">
      <div class="title">APR</div>
      <label>
        <span class="label">{{ 'buyer.components.market-setting.apr-d' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="value" [class.hidden]="editMode">{{ market.expectApr | number: '.2' }}%</span>
        <input type="text" class="control" [class.hidden]="!editMode" [(ngModel)]="market.expectApr"> %
      </label>
      <label>
        <span class="label">{{ 'buyer.components.market-setting.apr-min' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="value" [class.hidden]="editMode">{{ market.minApr | number: '.2'}}%</span>
        <input type="text" class="control" [class.hidden]="!editMode" [(ngModel)]="market.minApr"> %
      </label>
    </div>
    <div class="field-group">
      <div class="title">{{ 'buyer.components.market-setting.cashpool' | translate }}</div>
      <div class="value" [class.hidden]="editMode">{{ market.currencySign }}{{ market.cash | number }}</div>
      <input type="text" class="control block" [class.hidden]="!editMode" [(ngModel)]="market.cash">
    </div>
    <div class="field-group">
      <div class="title">{{ 'buyer.components.market-setting.npd' | translate }}</div>
      <div class="value" [class.hidden]="editMode">{{ market.payDate }}</div>
      <input type="text"
             class="control block"
             bsDatepicker
             placement="right"
             [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
             [class.hidden]="!editMode"
             [(ngModel)]="market.payDate">
    </div>
    <div class="field-group">
      <div class="title">{{ 'buyer.components.market-setting.reserve-p' | translate }}</div>
      <div class="value" [class.hidden]="editMode">{{ market.reservePercentage }}%</div>
      <input type="text" class="control block" [class.hidden]="!editMode" [(ngModel)]="market.reservePercentage">
    </div>
    <div class="field-group">
      <div class="title">{{ 'buyer.components.market-setting.date' | translate }}</div>
      <div class="value" [class.hidden]="editMode">{{ market.reconcilationDate }}</div>
      <input type="text" class="control block" [class.hidden]="!editMode" [(ngModel)]="market.reconcilationDate">
    </div>
  </div>
</ng-container>

<a class="btn btn-primary ok-btn" (click)="close()">{{ 'buyer.components.market-setting.ok' | translate }}</a>
