<eb-sidebarable-page>
  <ng-container sidebar>
    <div [class.active]="invoiceType === 'all'" class="sidebar-menu-title" (click)="setInvoiceType('all')">{{ 'supplier.pages.invoices.filter.title' | translate }}</div>
    <ul class="sidebar-menu nomargin">
      <li [class.active]="invoiceType === 'eligible'">
        <a (click)="setInvoiceType('eligible')">{{ 'supplier.pages.invoices.filter.eligible' | translate }}</a>
      </li>
      <li [class.active]="invoiceType === 'ineligible'">
        <a (click)="setInvoiceType('ineligible')">{{ 'supplier.pages.invoices.filter.ineligible' | translate }}</a>
      </li>
      <li [class.active]="invoiceType === 'adjustments'">
        <a (click)="setInvoiceType('adjustments')">{{ 'supplier.pages.invoices.filter.adjustments' | translate }}</a>
      </li>
      <li [class.active]="invoiceType === 'awarded'">
        <a (click)="setInvoiceType('awarded')">{{ 'supplier.pages.invoices.filter.awarded' | translate }}</a>
      </li>
    </ul>

    <div class="sidebar-separator"></div>

    <ng-container *ngIf="invoiceType === 'all' || invoiceType === 'eligible'">
      <!--<div class="filter-title">{{ 'supplier.pages.invoices.filter.filter' | translate }}</div>-->

      <div class="filter-block">
        <div class="filter-block-title">{{ 'supplier.pages.invoices.filter.included' | translate }}</div>
        <ul class="nomargin">
          <li>
            <label>
              <input type="checkbox"
                     [(ngModel)]="filter.included"
                     (change)="loadInvoices()">
              {{ 'supplier.pages.invoices.filter.included-opt' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     [(ngModel)]="filter.excluded"
                     (change)="loadInvoices()">
              {{ 'supplier.pages.invoices.filter.excluded' | translate }}
            </label>
          </li>
        </ul>
      </div>

      <div class="filter-block">
        <div class="filter-block-title">{{ 'supplier.pages.invoices.filter.clearing' | translate }}</div>
        <ul class="nomargin">
          <li>
            <label>
              <input type="checkbox"
                     [(ngModel)]="filter.clearingYes"
                     (change)="loadInvoices()">
              {{ 'supplier.pages.invoices.filter.yes' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     [(ngModel)]="filter.clearingNo"
                     (change)="loadInvoices()">
              {{ 'supplier.pages.invoices.filter.no' | translate }}
            </label>
          </li>
        </ul>
      </div>

      <div class="filter-block">
        <div class="filter-block-title">{{ 'supplier.pages.invoices.filter.dpe' | translate }}</div>
        <ul class="nomargin">
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleDpe(1, $event)"
                     [ngModel]="filter.dpe.indexOf(1) >= 0">
              {{ 'supplier.pages.invoices.filter.less15' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleDpe(2, $event)"
                     [ngModel]="filter.dpe.indexOf(2) >= 0">
              {{ 'supplier.pages.invoices.filter.more15' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleDpe(3, $event)"
                     [ngModel]="filter.dpe.indexOf(3) >= 0">
              {{ 'supplier.pages.invoices.filter.more30' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleDpe(4, $event)"
                     [ngModel]="filter.dpe.indexOf(4) >= 0">
              {{ 'supplier.pages.invoices.filter.more45' | translate }}
            </label>
          </li>
        </ul>
      </div>

      <div class="filter-block">
        <div class="filter-block-title">{{ 'supplier.pages.invoices.filter.opd' | translate }}</div>
        <div class="custom-range-filter">
        <div class="row">
          <div class="col-md-6 color-white">{{ 'supplier.pages.invoices.filter.from' | translate }}</div>
          <div class="col-md-6 color-white">{{ 'supplier.pages.invoices.filter.to' | translate }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" placeholder="dd/mm/yy" class="form-control datebox" bsDatepicker [(ngModel)]="startDate"
                   placement="right" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          </div>
          <div class="col-md-6">
            <input type="text" placeholder="dd/mm/yy" class="form-control datebox" bsDatepicker [(ngModel)]="endDate"
                   placement="right" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
          </div>
        </div>
        <button class="btn btn-primary" (click)="goCustomRange()">
          {{ 'supplier.pages.invoices.filter.go' | translate }}
        </button>
      </div>
      </div>

      <div class="filter-block">
        <div class="filter-block-title">{{ 'supplier.pages.invoices.filter.eia' | translate }}</div>
        <ul class="nomargin">
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleAmount(1, $event)"
                     [ngModel]="filter.amount.indexOf(1) >= 0">
              {{ 'supplier.pages.invoices.filter.less25k' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleAmount(2, $event)"
                     [ngModel]="filter.amount.indexOf(2) >= 0">
              {{ 'supplier.pages.invoices.filter.more25k' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleAmount(3, $event)"
                     [ngModel]="filter.amount.indexOf(3) >= 0">
              {{ 'supplier.pages.invoices.filter.more50k' | translate }}
            </label>
          </li>
          <li>
            <label>
              <input type="checkbox"
                     (change)="toggleAmount(4, $event)"
                     [ngModel]="filter.amount.indexOf(4) >= 0">
              {{ 'supplier.pages.invoices.filter.more75k' | translate }}
            </label>
          </li>
        </ul>
      </div>


    </ng-container>
  </ng-container>

  <div class="market-info">
    <div class="loading" *ngIf="participationLoading">
      {{ 'supplier.pages.invoices.updating' | translate }}
    </div>
    <div class="ar">
      <div class="text-center">
        <span class="pink">
          <ng-container *ngIf="!market.clearingPercentage">{{ 'supplier.pages.invoices.none' | translate }}</ng-container>
          <ng-container *ngIf="market.clearingPercentage">{{ market.clearingPercentage }}%</ng-container>
        </span>
        {{ 'supplier.pages.invoices.available-ar' | translate }}
      </div>
    </div>
    <div class="offer">
      <div class="offer-title">{{ 'supplier.pages.invoices.offer' | translate }}</div>
      <div class="apr">
        <eb-inline-edit [ngModel]="market.offerApr"
                        (ngModelChange)="setOfferApr($event)"
                        [disabled]="market.isLocked() || market.buyerStatus == 0"
                        #offerAprEdit>
        </eb-inline-edit>
        <ng-container *ngIf="!offerAprEdit.isOpen">
          <span class="colored-number">{{ market?.offerApr }}%</span> {{ 'supplier.pages.markets.apr' | translate }}
          <a class="edit-btn pointer"
             (click)="offerAprEdit.open()"
             tooltip="{{ 'supplier.pages.invoices.blocked-editing' | translate }}"
             placement="bottom"
             [isDisabled]="!market.isLocked()">
            <img src="assets/icons/pencil.svg">
          </a>
        </ng-container>
      </div>
      <!--<div class="offer-btn"><a class="btn btn-secondary">Try 12% Apr</a></div>-->
    </div>
    <div class="pay-amount text-center">
      <div class="title edit-pencil">{{ 'supplier.pages.invoices.mpa' | translate }}<img (click)="openMinAmountModal()"  src="assets/icons/pencil.svg"></div>
      <div class="value" *ngIf="market?.minPayment != -1">
        {{ 'supplier.pages.invoices.requiring' | translate }}
        <ng-container>
          <span class="colored-number">{{ market?.minPayment | currency: market?.currencySign }}</span>
          <!-- <a class="edit-btn pointer" (click)="payAmountEdit.open()" *ngIf="!payAmountEdit.isOpen">
          </a> -->
        </ng-container>
        <!-- <eb-inline-edit [ngModel]="market.minPayment"
                        (ngModelChange)="setPayAmount($event)"
                        #payAmountEdit>
        </eb-inline-edit> -->
      </div>
        <div class="value" *ngIf="market?.minPayment == -1">
            {{ 'supplier.pages.invoices.cmia' | translate }}
        </div>
    </div>
    <div class="market-status text-center">
      <div class="title">{{ 'supplier.pages.invoices.participation' | translate }}</div>
      <eb-checkbox onOffMode
                   [ngModel]="market.isParticipation"
                   [disabled]="market.isLocked()"
                   (ngModelChange)="setParticipation($event)">
      </eb-checkbox>
    </div>
  </div>

  <div class="market-stats">
    <div class="total">
      <div class="title">{{ 'supplier.pages.invoices.ar' | translate }}</div>
      <div class="amount">{{ market?.total?.availableAmount  | currency: market?.currencySign }}</div>
      <div class="average">{{ 'supplier.pages.invoices.avg-dpe' | translate }} {{ market?.total?.averageApr }}</div>
    </div>
    <div class="clearing">
      <div class="title">{{ 'supplier.pages.invoices.clearing' | translate }}</div>
      <div class="amount">{{ market?.clearing?.availableAmount  | currency: market?.currencySign }}</div>
      <div class="average">{{ 'supplier.pages.invoices.avg-dpe' | translate }} {{ market?.clearing?.averageDpe }}</div>
    </div>
    <div class="non-clearing">
      <div class="title">{{ 'supplier.pages.invoices.non-clearing' | translate }}</div>
      <div class="amount">{{ market?.nonClearing?.availableAmount  | currency: market?.currencySign }}</div>
      <div class="average">{{ 'supplier.pages.invoices.avg-dpe' | translate }} {{ market?.nonClearing?.averageDpe }}</div>
    </div>
    <div class="discount">
      <div class="title">{{ 'supplier.pages.invoices.discount' | translate }}</div>
      <div class="amount">{{ market?.discountMarket?.amount  | currency: market?.currencySign }}</div>
      <div class="average">
        {{ market?.discountMarket?.averageDiscount }}% {{ 'supplier.pages.invoices.disc' | translate }} |
        {{ market?.discountMarket?.averageApr | number: '1.2' }}% {{ 'supplier.pages.markets.apr' | translate }}
      </div>
    </div>
  </div>
  <div class="invoices-table">
    <div class="list-header">
      <div class="title">
        <!-- {{ invoiceType | capitalize }} -->
        {{ 'supplier.pages.invoices.ar-a' | translate }}
        <span>{{ marketsService.totalAmount | currency: market?.currencySign }}</span>
      </div>
      <div class="controls">
        <div class="buttons">
          <ng-container *ngIf="invoiceType === 'all' || invoiceType === 'eligible'">
            <a (click)="setIncluded()" class="btn btn-secondary">{{ 'supplier.pages.invoices.include' | translate }}</a>
            <a (click)="setIncluded(false)" class="btn btn-secondary">{{ 'supplier.pages.invoices.exclude' | translate }}</a>
          </ng-container>
        </div>
        <div class="search">
          <div class="search-group">
            <img class="search-icon" src="assets/icons/search.svg" alt="{{ 'supplier.pages.invoices.search-ph' | translate }}">
            <input class="search-input" type="text" placeholder="{{ 'supplier.pages.invoices.search-ph' | translate }}" [(ngModel)]="search">
          </div>
          <a (click)="exportToCsv()" class="btn btn-primary export-btn">{{ 'supplier.pages.invoices.download' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="list">
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox"
                     [(ngModel)]="checkbox"
                     (click)="setCheckedInvoices($event)">
            </th>
            <th>{{ 'supplier.pages.invoices.table.include' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.clearing' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.invoice-id' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.pay-date' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.dpe' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.amount' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.discount' | translate }}</th>
            <th>{{ 'supplier.pages.invoices.table.discount-value' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices | searchFilter: 'invoiceId' : search" [class.clearno]="invoice?.isClearing()==false">
            <td><input type="checkbox" [(ngModel)]="invoice._checked"></td>
            <td class="text-center">

              <a tooltip="{{ invoice?.isIncluded() ? ('supplier.pages.invoices.table.included_tip' | translate) : ('supplier.pages.invoices.table.noincluded_tip' | translate) }}"  placement="right">
                <span class="{{invoice?.isIncludedClass()}}"  *ngIf="invoice?.isIncluded()"></span>
              </a>
            </td>
            <td class="clear-status">{{ invoice?.isClearing() ? ('supplier.pages.invoices.table.yes' | translate) : ('supplier.pages.invoices.table.no' | translate) }}</td>
            <td>{{ invoice?.invoiceId }}</td>
            <td>{{ invoice?.originalPaydate }}</td>
            <td>{{ invoice?.invDpe }}</td>
            <td>{{ invoice?.invoiceAmount | currency: market?.currencySign }}</td>
            <td>
              <span *ngIf="!!invoice?.discountRate; else minus">{{ invoice?.discountRate }}</span>
              <ng-template #minus>-</ng-template>
            </td>
            <td>{{ invoice?.discount | currency: market?.currencySign }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</eb-sidebarable-page>
