.market-info {
  display: flex;
  justify-content: space-between;
  padding: 13px 60px;
  background-color: #081c31;
  color: #fff;
  position: relative;

  .loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .8);
    color: #000;
    text-align: center;
    padding-top: 50px;
  }

  .edit-btn {
    margin-left: 3px;

    img {
      height: 15px;
      width: 15px;
    }
  }

  .ar {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 450;

    .pink {
      color: #e68585;
      margin-right: 5px;
    }
  }

  .offer {
    text-align: center;

    .offer-title {
      color: #b7b7b7;
      font-size: 13px;
      font-weight: 600;
    }

    .apr {
      color: #b7b7b7;
      font-size: 16px;
      line-height: 26px;
      padding-top: 5px;
      white-space: nowrap;
    }

    .offer-btn {
      margin-top: 2px;

      .btn {
        border-radius: 3px;
        border: 1px solid rgba(210, 229, 252, .48);
        line-height: 28px;
        height: 28px;
        box-sizing: border-box;
        font-size: 8px;
        font-weight: 700;
        padding: 0;
        width: 85px;
        background: transparent;
        color: #f4f9ff;
      }
    }
  }

  .pay-amount {

     .title {
      color: #b7b7b7;
      font-size: 13px;
      margin-bottom: 10px;
       font-weight: 600;
    }

    .value {
      align-items: center;
      color: #cecece;
      display: flex;
      font-size: 16px;
      font-weight: 700;

      eb-popover-edit {
        color: #ddb458;
        font-size: 16px;
        font-weight: 400;
        margin-left: 3px;
      }
    }
  }

  .market-status {
    .title {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
}

.market-stats {
  background-color: #f5f6f7;
  display: flex;
  justify-content: space-between;
  padding: 25px 74px;

  .title {
    color: rgba(26, 26, 26, .8);
    font-size: 16px;
    margin-bottom: 15px;
  }

  .amount {
    color: #4d4f5c;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .average {
    color: #6e6e6e;
    font-size: 13px;
    font-weight: 700;
  }

  .clearing {
    .amount {
      color: #95b953;
    }
  }

  .non-clearing {
    .amount {
      color: #885151;
    }
  }
}

.invoices-table {
  margin: 20px 50px 0;

  .list-header {
    .title {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 17px;
      color: rgba(23, 23, 23, .7);

      span {
        color: rgba(149, 185, 83, .7);
      }
    }

    .controls {
      display: flex;

      .buttons {
        width: 50%;

        .btn {
          font-size: 13px;
          margin: 0 10px;
          width: 114px;
          padding: 0;
          text-align: center;
          font-weight: 700;
        }
      }

      .search {
        .export-btn {
          font-size: 13px;
          margin-left: 34px;
          padding: 0 25px;
        }

        text-align: center;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .search-group {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .search-icon {
            height: 23px;
            width: 23px;
          }

          .search-input {
            color: #888585;
            margin-left: 25px;
            width: 146px;
            border: 0;
            font-size: 13px;
            outline: none;
            border-bottom: 1px solid rgba(149, 152, 154, .36);
            height: 23px;
            line-height: 23px;
          }
        }
      }
    }
  }

  .list {
    margin-top: 20px;
    margin-bottom: 110px;

    table {
      * {
        text-align: center;
      }

      tbody * {
        font-size: 13px;
      }
    }

    .included {
      background-color: #8ed8f8;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      width: 10px;
    }
    .noincluded {
      background-color: #efabbd;
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      width: 10px;
    }
  }
}

.sidebar-menu-title {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;
  margin-bottom: 5px;
  &.active {
    color: #fada61 !important;
    text-decoration: underline;
  }
}

.sidebar-menu {
  margin-left: 24px;

  li {
    font-size: 13px !important;
    font-weight:500;
    margin-bottom: 5px !important;

    &.active a {
      color: #fada61 !important;
      font-weight: 700 !important;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #fff !important;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500;
    }
  }
}

.sidebar-separator {
  background-color: rgba(222, 222, 222, .2);
  display: block;
  height: 1px;
  margin: 5px 0;
}

.filter-title {
  margin-left: 20px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.filter-block {
  margin-left: 20px;
  margin-bottom: 10px;

  .filter-block-title {
    font-size: 13px;
    font-weight: 600;
    color: #fff;

  }


  ul {
    margin-left:4px;
    li {
      margin-top: 2px;
      color: #fff;
      font-size: 13px !important;
      font-weight: 400 !important;

      * {
        cursor: pointer;
      }
      label {
        margin-bottom: 0px !important;
      }
      input[type="checkbox"]{
        vertical-align:text-bottom !important;
        *margin-bottom:-4px;
      }
    }
  }


}

@media(max-width: 1200px) {
  .market-info,
  .market-stats {
    padding: 10px 20px;
  }

  .invoices-table {
    .controls {
      .search {
        width: 30% !important;
      }

      .buttons {
        width: 70% !important;
      }
    }
  }
}

@media(max-width: 1000px) {

  .list {
    overflow-x: scroll;

    .table {
      min-width: 700px;
    }
  }

  .invoices-table {
    margin: 0;
    padding: 10px 20px;

    .controls {
      .search {
        width: 40% !important;
      }

      .buttons {
        width: 60% !important;
      }
    }
  }
}

.colored-number {
  color: #e1614b;
}

@media(max-width: 768px) {
  .market-info,
  .market-stats {
    display: block;
  }

  .market-info {
    justify-content: center;

    .ar {
      margin-bottom: 15px;

      > div {
        width: 100%;
      }
    }

    .pay-amount {
      .value {
        justify-content: center;
      }
    }
  }

  .market-stats {
    > * {
      margin-bottom: 10px;
    }

    .average {
      text-align: right;
    }

    .amount {
      text-align: center;
    }
  }

  .invoices-table {
    margin: 0;
    padding: 10px 20px;

    .controls {
      display: block !important;

      .buttons {
        width: 100% !important;

        .btn {
          display: block;
          margin: 0 !important;
          margin-bottom: 5px !important;
          width: auto !important;
        }
      }

      .search {
        box-sizing: border-box;
        width: 100% !important;

        .export-btn {
          margin-left: 15px;
          width: 50%;
        }

        .search-group {
          width: 50%;

          input {
            margin-left: 0 !important;
            width: 100% !important;
          }

          img {
            display: none;
          }
        }
      }
    }
  }
}
.edit-pencil{
  position: relative;
}
.edit-pencil img{
  position: absolute;
  width: 19px;
  height: 17px;
  cursor: pointer;
  padding-left: 4px;
  bottom: 2px;
}
.sidebar-menu-title{
  cursor: pointer;
}
.left-btn{
  color: white;
  margin-right: 25px;
}
.right-btn{
  color: white;
}

.btn-container{
  padding-top: 30px;
}

.container .edit{
   position: relative;
}

.main-min-pay{
  padding-top: 20px;
}

.fixed-line{
  position: absolute;
  bottom: 2px;
  width: 24px;
  right: -17px;
}

  .clear-status{
      font-weight:bold;
  }

  .clearno{
      background:#e5e2e2
  }

.color-white{
    color:white;
}
 .nopadding{
    padding-left:5px;
    padding-right:0px;
}

 .nomargin{
     margin-bottom:10px;
 }

 .wid95{
     width:95%;
 }