<ng-container>
    <div *ngIf="marketValue.showConfirmPage == false" class="container">
        <h4>{{ 'supplier.pages.markets.minimum-pay-amount-popup.minimum-pay-amount' | translate }}</h4>
        <div class="form-group row main-min-pay">
            <div class="col-md-7">
                <select class="form-control" (click)="onSelectValue($event)">
                    <option value="1" [selected]="marketValue.showFixedLine == true">Fixed Line</option>
                    <option value="2" [selected]="marketValue.showFixedLine == false">Minimum Invoice Amount</option>
                </select>
            </div>
            <div class="edit col-md-4" *ngIf="marketValue.showFixedLine">
                <input class="form-control" (input)="onChangeMinPayment($event)" [(ngModel)]="paymentValue" type="text" />
                <!-- <img class="fixed-line" src="assets/icons/fixedline.png"> -->
            </div>
        </div>
        <div class="btn-container text-center">
            <button (click)="onSet()" class="left-btn btn btn-info">{{ 'supplier.pages.markets.minimum-pay-amount-popup.set' | translate }}</button>
            <button (click)="bsModalRef.hide()" class="right-btn btn">{{ 'supplier.pages.markets.minimum-pay-amount-popup.cancel' | translate }}</button>
        </div>
    </div>
    <div *ngIf="marketValue.showConfirmPage == true" class="container">
        <div>
            <p *ngIf="marketValue.showFixedLine == true" class="main-min-pay">
                {{ 'supplier.pages.markets.minimum-pay-amount-popup.fixed-inline' | translate : { paymentValue : paymentValue} }}
            </p>
            <p *ngIf="marketValue.showFixedLine == false" class="main-min-pay">
                {{ 'supplier.pages.markets.minimum-pay-amount-popup.minimum-invoice' | translate }}
            </p>
            <h4 class="text-center">{{ 'supplier.pages.markets.minimum-pay-amount-popup.are-you-sure-to-proceed' | translate }}</h4>
            <div class="btn-container text-center">
                <button (click)="onSubmitValue()" class="left-btn btn btn-info">{{ 'supplier.pages.markets.minimum-pay-amount-popup.submit' | translate }}</button>
                <button (click)="goBack()" class="right-btn btn">{{ 'supplier.pages.markets.minimum-pay-amount-popup.back' | translate }}</button>
            </div>
        </div>
    </div>
</ng-container>