<div class="title">

</div>

<div class="text1" [innerHTML]="'core.components.ebcf.text1' | translate"></div>

<div class="subtitle">
  {{ 'core.components.ebcf.subtitle' | translate }}
</div>

<div class="text2" [innerHTML]="'core.components.ebcf.text2' | translate"></div>

<div class="fill">
  <div class="desc-block">
    <img src="assets/handshake.svg">
    <div class="desc-title">{{ 'core.components.ebcf.collaborate' | translate }}</div>
    <div class="desc-desc" [innerHTML]="'core.components.ebcf.collaborate-desc' | translate"></div>
  </div>
  <img class="dashed-line" src="assets/dashed-line.svg">
  <img class="sky" src="./assets/sky.svg">
  <img class="dashed-line" src="assets/dashed-line.svg">
  <div class="desc-block">
    <img src="assets/optimize.svg">
    <div class="desc-title">{{'core.components.ebcf.optimize' | translate }}</div>
    <div class="desc-desc" [innerHTML]="'core.components.ebcf.optimize-desc' | translate"></div>
  </div>
</div>
