:host {
  display: block;
}

.content {
  padding: 102px 80px 150px;
  min-height: 100vh;
  box-sizing: border-box;
}

@media(max-width: 1000px) {
  .content {
    padding: 102px 40px 100px;
  }
}

@media(max-width: 768px) {
  .content {
    padding: 102px 20px 100px;
  }
}
