<eb-sidebarable-page>
  <ng-container sidebar>
    <div class="sidebar-menu-title">
      <img src="./assets/icons/calendar.svg"> {{ 'supplier.pages.history.filter.title' | translate }}
    </div>
    <ul class="sidebar-menu">
      <li [class.active]="fromDays === 7">
        <a (click)="setDays(7)">
          {{ 'supplier.pages.history.filter.last7' | translate }}
        </a>
      </li>
      <li [class.active]="fromDays === 30">
        <a (click)="setDays(30)">
          {{ 'supplier.pages.history.filter.last30' | translate }}
        </a>
      </li>
      <li [class.active]="fromDays === 60">
        <a (click)="setDays(60)">
          {{ 'supplier.pages.history.filter.last60' | translate }}
        </a>
      </li>
      <li [class.active]="fromDays === 90">
        <a (click)="setDays(90)">
          {{ 'supplier.pages.history.filter.last90' | translate }}
        </a>
      </li>
      <li [class.active]="isCustomRange" (click)="setCustomRange()">
        <a>{{ 'supplier.pages.history.filter.custom' | translate }}</a>
      </li>
    </ul>
    <div class="custom-range-filter" *ngIf="isCustomRange">
      <label class="from">
        &nbsp; &nbsp; {{ 'supplier.pages.history.filter.from' | translate }}
        <input type="text"
               placeholder="dd/mm/yy"
               class="form-control"
               bsDatepicker
               [(ngModel)]="customFrom"
               placement="right"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      </label>
      <label class="to">
        &nbsp; &nbsp; {{ 'supplier.pages.history.filter.to' | translate }}
        <input type="text"
               placeholder="dd/mm/yy"
               class="form-control"
               bsDatepicker
               [(ngModel)]="customTo"
               placement="right"
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      </label>
      <button class="btn btn-primary" (click)="goCustomRange()">
        {{ 'supplier.pages.history.filter.go' | translate }}
      </button>
    </div>
    <a class="sidebar-menu-title second pointer" (click)="exportToCsv()">
      <img src="./assets/icons/download.svg"> {{ 'supplier.pages.history.filter.download-csv' | translate }}
    </a>
  </ng-container>

  <div class="filter-range">
    <ng-container *ngIf="!isCustomRange">
      {{ 'supplier.pages.history.filter-range' | translate: { fromDays: fromDays } }}  >
    </ng-container>
    <span>
      {{ filter.startdate }}
      {{ 'supplier.pages.history.filter.to' | translate }}
      {{ filter.enddate }}</span>
    <div class="sub-line"></div>
  </div>

  <div class="market-stats">
    <div class="awarded">
      <div class="title">{{ 'supplier.pages.history.awarded' | translate }}</div>
      <div class="amount">{{ market?.awardedAmount | currency: market?.currencySign }}</div>
    </div>
    <div class="total-discount">
      <div class="title">{{ 'supplier.pages.history.total' | translate }}</div>
      <div class="amount">{{ market?.awardedDiscount | currency: market?.currencySign }}</div>
    </div>
    <div class="average-discount">
      <div class="title">{{ 'supplier.pages.history.average' | translate }}</div>
      <div class="amount">{{ market?.averageDiscount }}%</div>
    </div>
  </div>

  <!-- <div class="chart" *ngIf="barChartData">
    <div class="title">{{ 'supplier.pages.history.awarded' | translate }}</div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="[{ backgroundColor: '#4f7dc9' }, { backgroundColor: '#e6f0ff' }]"
            [chartType]="barChartType"></canvas>
  </div> -->

  <div class="list">
    <table class="table">
      <thead>
        <tr>
          <th>{{ 'supplier.pages.history.table.date' | translate }}</th>
          <th>{{ 'supplier.pages.history.table.total-paid' | translate }}</th>
          <th class="text-center">{{ 'supplier.pages.history.table.total-discount' | translate }}</th>
          <th class="text-center">{{ 'supplier.pages.history.table.average-discount' | translate }}</th>
          <th class="text-center">{{ 'supplier.pages.history.table.apr' | translate }}</th>
          <th class="text-center">{{ 'supplier.pages.history.table.dpe' | translate }}</th>
          <th class="text-center">{{ 'supplier.pages.history.table.download' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let award of awards">
          <td>{{ award.award_date }}</td>
          <td>{{ award.total_paid | currency: market?.currencySign }}</td>
          <td class="text-center">{{ award.total_discount | currency: market?.currencySign }}</td>
          <td class="text-center">{{ award.average_discount }}%</td>
          <td class="text-center">{{ award.average_apr }}%</td>
          <td class="text-center">{{ award.average_dpe }}</td>
          <td class="text-center">
            <a class="pointer" (click)="downloadAwardedDetailsCsv(award.id)">
              {{ 'supplier.pages.history.table.csv' | translate }}
            </a>
            &nbsp;|&nbsp;
            <a class="pointer" (click)="downloadAwardedDetailsExcel(award.id)">
              {{ 'supplier.pages.history.table.excel' | translate }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pages" hidden>
      <pagination [totalItems]="40" nextText=" " previousText=" "></pagination>
    </div>
  </div>
</eb-sidebarable-page>
