:host {
  display: block;
  padding: 0 48px;
}

.title {
  color: #fff;
  float: left;
  font-size: 26px;
  line-height: 57px;
}

.pink {
  color: #ffbcbc;
  font-size: 10px;
  font-weight: 700;
}

@media(max-width: 768px) {
  :host {
    padding: 0 20px;
  }

  .title {
    font-size: 14px;
  }
}
