<header>
  <div class="container">
    <div class="logo pointer">
      <img src="assets/logo.svg" class="pointer" alt="Early Bird Cash Flow" [routerLink]="['/']">
    </div>
    <div class="controls">
      <div class="user-menu">
        <div class="lang-select" dropdown [autoClose]="true">
          <a dropdownToggle>
            <ng-container [ngSwitch]="translate.currentLang">
              <ng-container *ngSwitchCase="'en'">{{ 'core.pages.language.en' | translate }}</ng-container>
              <ng-container *ngSwitchCase="'cn'">{{ 'core.pages.language.cn' | translate }}</ng-container>
              <ng-container *ngSwitchCase="'tw'">{{ 'core.pages.language.tw' | translate }}</ng-container>
            </ng-container>
            <img src="assets/icons/small-down.svg" class="small-down">
          </a>
          <ul class="dropdown-menu" *dropdownMenu>
            <li><a style="color: #333 !important;" (click)="selectLang('en')">{{ 'core.pages.language.en' | translate }}</a></li>
            <li><a style="color: #333 !important;" (click)="selectLang('cn')">{{ 'core.pages.language.cn' | translate }}</a></li>
            <li><a style="color: #333 !important;" (click)="selectLang('tw')">{{ 'core.pages.language.tw' | translate }}</a></li>
          </ul>
        </div>
        <div class="separator"></div>
        <div class="logged-as">
          {{ 'supplier.components.header.logged-as' | translate }}&nbsp;
          <a class="username" [routerLink]="['/supplier', 'account', 'profile']">
            {{login_name}}
          </a>
        </div>
        <a href="javascript:void(0)" class="power-btn" (click)="logout()">
          <img src="assets/icons/power.svg" alt="Logout" class="logout">
        </a>
      </div>
      <ul class="header-menu">
        <li>
          <a [routerLink]="['/supplier', 'markets']">
            {{ 'supplier.components.header.menu.markets' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="subheader">
    <div #subheader></div>
  </div>
</header>
