:host {
  display: block;
}

.menuNav {
  width: 100%;
  background: #3D79B2;
}

header {
  background: linear-gradient(135deg, #24457c, #24457c, #3D7AB3, #3D79B2);
  box-shadow: 0 0 4px #000;
  //height: 102px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .header-top {
    background: linear-gradient(135deg, #24457c, #24457c, #3D7AB3, #3D79B2);
    height: 71px;
    width: 100%;

    .container {
      // border-bottom: 1px solid rgba(255, 255, 255, .25);
      display: flex;
      justify-content: space-between;
      padding: 0 62px;
      height: 71px;
 
      .menu-market {
        color: #fff;
        display: flex;
        align-items: flex-end;
        height: 71px;
        padding-bottom: 27px;
        padding-left: 35px;
      }

      .user-menu{
        display: flex;
        align-items: center;

      .lang-select {
          position: relative;
          display: block;
          
          a {
            cursor: pointer;
            color: #fff !important;
            font-size: 14px;
            text-decoration: none;

            .small-down {
              width: 11px;
              margin-left: 7px;
            }
          }
        }

        .logged-as {
          color: #fff;
          font-weight: 400;
          font-size: 14px;
          margin-right: 15px;

          .username {
            cursor: pointer;
            font-weight: 700;
            color: #fff !important;
          }
        }

        .logout {
          width: 16px;
          margin-top: -7px;
        }

        .separator {
          background-color: #ebebf2;
          height: 28px;
          width: 1px;
          margin: 0 20px
        }
      }
    }
  }

  .header-bottom {
    height: 30px;
    background: #f8f8f8;
    width: 100%;
    box-shadow: 0 0 0 #000;

     .container {
      // border-bottom: 1px solid rgba(255, 255, 255, .25);
      display: flex;
      justify-content: space-between;
      padding: 0 62px;

      .subheader {
        height: 30px;
        width: 100%;
      }
    }
  }

  .container {
    // border-bottom: 1px solid rgba(255, 255, 255, .25);
    display: flex;
    justify-content: space-between;
    padding: 0 62px;
    // height: 95px;

    .logo {
      box-sizing: border-box;
      float: left;
      height: 100%;
      padding-top: 5px;

      img {
        width: 165px;
        float: left;
      }
    }
  }
}


@media(max-width: 768px) {
  header {
    .container {
      padding: 0 20px;

      .user-menu {
        .logout {
          display: none;
        }

        .separator {
          margin: 0 10px;
        }

        .logged-as {
          margin-right: 0px;
        }
      }
    }
  }
}
