.table-markets {
  overflow-x: auto;
  margin-top: 45px;

  table {
    min-width: 750px;
  }

  table > thead > tr > th {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #3d3d3d;
  }
  table > tbody > tr > td {
    text-align: center;
  }

}

  .row-gray {
    color: darkgray !important;
  }

.configure-offer .btn {
  font-size: 13px
}
.turn-on {
  color: #8e3f3f;
}


.market-container {
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.configure-offer {
  align-items: center;
  display: flex;
}

.edit-btn {
  img {
    height: 17px;
    width: 18.5px;
  }
}

.new-market {
  background-color: rgba(248, 248, 248, .88);
  border-left: 3px solid #ff6565;
  border-right: 1px solid rgba(149, 152, 154, .36);
  padding: 12px 40px 19px;
  text-align: left !important;

  h1 {
    display: block;
    font-weight: 700;
    font-size:14px;
    margin-bottom: 0px;
  }

  .view-invoice {
    font-weight: 700;
  }

  .subtext {
    color: #333;
  }
}

.pages {
  margin-top: 95px;
  text-align: right;
}

.filters {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  padding: 0px 40px;

  .radio-group {
    margin-left: 31px;

    span {
      font-size: 16px;
    }
  }
}

.radio-group {
  border: 1px solid rgba(149, 149, 149, .26);
  display: inline-block;
  border-radius: 7px;

  > label {
    border-radius: 7px;
    color: #2e2d2d;
    cursor: pointer;
    display: inline-block;
    font-size: 8px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 2px;
    padding: 0 17px;
  }

  input:checked + label {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
    background: linear-gradient(#fff, #f2faf6);
    color: #4c9d1a;
  }

  input {
    display: none;
  }
}

.offer-filter,
.participation-filter {
  white-space: nowrap;
}

.offer-filter {
  position: relative;
  bottom: 7px;
    .btn-primary {
      box-shadow: 0 2px 3px rgba(0, 0, 0, .15);
      margin-left: 20px;
      height: 35px;
      line-height: 35px;
      position: relative;
      top: 1px;
  }

  .offer-persentage {
    display: inline-block;
    margin-left: 10px;
    width: 70px;

    input {
      padding-right: 20px;
      padding-left: 5px;
    }

    .icon {
      margin-left: 0;
    }
  }

  .offer-type {
    display: inline-block;
    margin-left: 10px;
    width: 70px;

    .icon {
      img {
        width: 10px;
      }
    }
  }
}
.company-name {
  text-align: left;
  padding: 0;
  margin: 0 auto;
  max-width: 170px;
}

@media(max-width: 1000px) {
  .filters {
    margin-left: 0;
    display: block;
  }
}

@media(max-width: 768px) {
  .filters {
    .offer-filter {
      margin-bottom: 15px;
    }

    .participation-filter {
      .radio-group {
        margin-left: 0;
      }
    }

    span {
      display: block;
      margin-bottom: 10px;
    }

    .offer-persentage {
      margin-left: 0;
    }
  }

  .pages {
    text-align: center;
  }
}

.loader {
  width: 260px;
}
