<div class="table-markets">
  <table>
    <thead>
      <tr>
        <th>{{ 'supplier.pages.markets.table.participation' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.division' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.ar' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.offer' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.clearing' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.non-clearing' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.discount' | translate }}</th>
        <th class="text-center">{{ 'supplier.pages.markets.table.dpe' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.pay-date' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let market of markets" [ngSwitch]="market.isNewMarket()">
        <tr *ngSwitchCase="true">
          <td colspan="9" class="new-market">
            <div class="market-container">
              <div class="market-description">
                <h1>{{ market.supplier }}</h1>
                <div class="view-invoice">
                  <a [routerLink]="['/supplier', 'markets', market.id, 'invoices']">
                    {{ 'supplier.pages.markets.view' | translate }}
                  </a>
                </div>
                <div class="subtext">
                  {{ 'supplier.pages.markets.subtext' | translate: { value: (market.availableAmount | currency: market.currencySign), market: market.marketName, currency: market.currency, dpe: market.DPE } }}
                </div>
              </div>
              <div class="configure-offer">
                <button [hidden]="hideMe[market.id]"
                        class="btn btn-secondary"
                        (click)="hideMe[market.id] = !hideMe[market.id]">
                  {{ 'supplier.pages.markets.config-offer' | translate }}
                </button>
                <div class="loader" *ngIf="showProcessing(market)">
                  {{ 'supplier.pages.markets.offer-processing' | translate }} {{market.availableAmount | currency: market.currencySign }}
                </div>

                <div class="filters" [hidden]="!hideMe[market.id] || showProcessing(market)">
                    <div class="offer-filter">
                      <div class="input-group offer-persentage">
                        <input type="number"
                               pattern="^$|^([0-9]|[1-9][0-9]|[1][0][0])?"
                               class="input"
                               maxlength="3"
                               class="input"
                               min="1"
                               max="99"
                               [(ngModel)]="offerPercent">
                        <div class="icon">%</div>
                      </div>
                      <div class="input-group offer-type">
                        <eb-custom-select offerSelector
                                          [placeholder]="offerType.value"
                                          [options]="offerTypes"
                                          [(ngModel)]="offerType">
                        </eb-custom-select>
                      </div>
                      <a class="btn btn-primary"
                         (click)="configureOffer(market)">
                        {{ 'supplier.pages.markets.set' | translate }}
                      </a>
                    </div>
                  </div>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngSwitchCase="false" [ngClass]="{'row-gray':market.marketStatus == 0}">
          <td >
            <eb-checkbox (ngModelChange)="setParticipation(market, $event)"
                         [(ngModel)]="market.isParticipation"
                       >

            </eb-checkbox>
          </td>
          <td>
            <div class="company-name">
              <div>
                <a [routerLink]="['/supplier', 'markets', market.id, 'invoices']">
                  {{ market.marketName }} ({{ market.currency }})
                </a>
              </div>
              <div>{{ market.supplier }}</div>
              <div>{{ market.vendorcode }}</div>
            </div>
          </td>
          <td>{{ market.availableAmount | currency: market.currencySign }}</td>
          <td>
            <eb-inline-edit [ngModel]="market.offerApr"
                            (ngModelChange)="setOfferApr(market, $event)"
                            [disabled]="market.isLocked() || market.marketStatus == 0"
                            black
                            #offerAprEdit>
            </eb-inline-edit>
            <ng-container *ngIf="!offerAprEdit.isOpen">
              {{ market?.offerApr }}% {{ 'supplier.pages.markets.apr' | translate }}
                <a class="edit-btn pointer"
                 (click)="offerAprEdit.open()"
                 tooltip="{{ 'supplier.pages.markets.waiting-status' | translate }}"
                 placement="bottom"
                 [isDisabled]="!market.isLocked()">
                <img src="assets/icons/pencil-dark.svg">
              </a>
            </ng-container>
            <!--<a href="javascript:void(0);">-->
              <!--{{ market.offerApr }}% APR-->
            <!--</a>-->
          </td>
          <td class="turn-on text-center" colspan="3" *ngIf="!market.isParticipation">
            {{ 'supplier.pages.markets.turn-on' | translate }}
          </td>
          <ng-container *ngIf="market.isParticipation && !market.isLocked()">

            <td>{{ market.clearingAmount | currency: market.currencySign }}</td>
            <td>{{ market.noclearingAmount | currency: market.currencySign }}</td>
            <td>{{ market.discount | currency: market.currencySign }}</td>
            <!--<td><span *ngIf="market.discount !== 0">{{ market.discount }}</span></td>-->
          </ng-container>

          <td colspan="3" *ngIf="market.isLocked()">
                <div style="width:100%;color:#33cc33 !important;text-align: center;">
                  {{ 'supplier.pages.markets.offer-processing' | translate }} {{market.availableAmount | currency: market.currencySign }}
                </div>
          </td>

          <td class="text-center">{{ market.DPE }}</td>
          <td>{{ market.paydate }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="pages" hidden>
  <pagination [totalItems]="40" nextText=" " previousText=" "></pagination>
</div>
