:host {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #24457c, #24457c, #3D7AB3, #3D79B2);
}

.top-nav{
  height: 45px;
  line-height: 45px;
  text-align: right;
  position: relative;
  padding-right: 12%;
  //background: #0d004f;

  div{
    display: inline-block;
    margin: 0px 1px;
  }

  .lets-start {
    display: inline-block;
    padding: 0 20px;
  }

  .locale-picker {
    display: inline-block;

    img {
      margin-right: 3px;
      width: 16px;
      color: #fff;
    }
  }

  li {
    height: 38px;
    line-height: 38px;
    margin: 0 28px;
  }

  a {
    color: #fff !important;
    font-size: 14.5px;
    font-weight: 400;
  }

  .login-btn{
    background-color: #005897;
    padding: 2px 20px;
    border-radius: 2px;
  }
}

.logoBox{
  display: flex;
  justify-content: flex-start;
  width: 24%;
  margin-top: -3px;
  margin-left: auto;
  margin-right: auto;

  img{
    //width: 65px;
    width: 165px;
    margin-top: -47px;
  }
}

.links {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-right: 10.5%;
    //background: #02186c;
    height: 42px;
    line-height: 58px;

  li {
    margin: 0 28px;
  }

  a {
    color: #e9e9e9 !important;
    font-size: 16px;
    font-weight: 900;
  }
}

.dropdown-menu{
  left: auto !important;
}

.dropdown-menu li {
  margin: 0 !important;
  height: auto !important;
}

.separator {
  width: 28px;
}

:host([static]) {
  background-color: #fff;
  position: static;

  .links {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  a {
    color: #222 !important;
  }

  .lets-start {
    border: 1px solid #222;
  }
}

.menu {
  display: none;
  float: right;
  margin-top: 7px;
  padding-right: 20px;
  width: 30px;

  svg {
       height: 100%;
       width: 100%;

       .line {
         fill: #fff;
       }
     }
}

.mobile-menu {
  display: none;
}

@media (max-width: 1300px) {
  .links {
    li {
      margin: 0 15px;
    }
  } 

}

@media (max-width: 1100px) {
  .links {

    li {
      margin: 0 15px;
    }
  }

}

@media (max-width: 900px) {
  .links {
    li:nth-child(-n + 5) {
      display: none;
    }
  }
}

@media (max-width: 750px) {
  .menu {
    display: block;

    &.black-menu {
      margin-top: 20px;

      svg .line {
        fill: #000;
      }
    }
  }

  .links {
    display: none;
  }

  [dropdown].open {
    .mobile-menu {
      display: block;
    }
  }

  .mobile-menu {
    padding: 0;
    background-color: #eee;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    overflow-y: scroll;

    .separator {
      height: 10px;
    }

    li {
      margin-top: 10px;
      margin-left: 20px;
      line-height: 24px;
      font-size: 18px;

      &.close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        margin: 0;
        width: 20px;

        img {
          width: 100%;
        }
      }

      a {
        color: #000 !important;
      }
    }
  }
}
