.container {
  padding: 50px 80px;

  p {
    color: #000;
    font-size: 14px;
    line-height: 18px;

    a {
      color: #1d97d0;
    }
  }
}

.btn {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  width: 114px;
}
