@import '../../../../assets/css/style.scss';

:host {
    align-items: center;
    background-color: #3d7ab3;
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
  }
  
  .container {
    box-shadow: 0 4px 12px -4px #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: 420px;
    margin: 0 auto;
    position: relative;
    width: 612px;
    padding-left: 0px !important;
    padding-right: 0px !important;

    .right-side {
      background: linear-gradient(0, #3d7ab3, #24457C);
      text-align: center;
      min-width: 242px;
      width: 242px;
  
      img {
        display: inline-block;
        margin-top: $loginLogoTop;
        width: $loginLogoWidth;
      }
    }
}

.show{
    display: block !important
}

.content {
    background-color: #fff;
    padding: 30px 32px 0;
    position: relative;
    width: 100%; 
    color: #383838;
    border-radius: 3px;
    
    .title{
        font-size: 25px;
        border-bottom: 1px solid lightgray;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .messageLabel{
        padding-bottom: 5rem;
    }
}

.errorText{
    color: red;
    font-size: 13.5px;
    margin-top: 1.5px;
    margin-left: 10px;
}

.errorImg{
    width: 15.5px;
    margin-right: 5px;
}

.red-color{
  color: #a94442;
}

.forgetpassword-form{
    
    .form-group {
        margin-bottom: 1rem;
        max-height: 200px;
        min-height: 160px;
    }

    .form-control{
        border: 1px solid #E8E9EC;
        border-radius: 4px;
        padding: 0px 16px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        height: 30px;
        outline: none;
        width: 100%;
        //padding-left: 50px;
    }

    .password{
        margin: 10px 0px 5px 0px !important;
        font-weight: bold;
        display: inline-block;
        color: #a94442;
    }
    
    .passwordImg{
      width: 17px;
    }

    .showHidenBtn{
      position: absolute;
      top: 128px;
      right: 40px;
      cursor: pointer;
    }

    .showHidenBox{
        background-color: #a94442;
        display: inline;
        padding: .2em .6em .3em;
        font-size: 70%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        border: 0px;
    }
}

.forgot{
    margin-bottom: 20px;
    margin-top: 52px;
    display: flow-root;
    p{
        font-size: 10px;
    }
     .privacy{
         color: #24457C;
     }
     .checkbox{
        vertical-align:bottom;
        margin-top: 2px;
     }
    .continue-btn{
        background-color: #589b3c;
        color: #fff !important;
        padding: 5px 17px;
        border-radius: 5px;
        font-size: 14px;
        float: right;
        border: 0px;
        margin-top: 6px;
        position:relative;
    }
    .back-to-login{
        background: white;
        border: 0px;
        color: #134467;
        font-weight: normal;
        font-size: 14px;
        float: right;
        margin-top: 5px;
        position: relative;;
    }
    .back-to-login:hover{
        box-shadow: none;
    }
}

@media(max-width: 767px) {
    :host {
      display: block;
    }

    .right-side {
        display: none;
      }

    .container {
      width: 100%;
      min-height: 100%;
  
      .content {
        border-radius: 0 !important;
        padding: 30px 20px;
      }
    }
  }