<div class="container" id="container">
  <div class="right-side">
    <img src="./assets/logo.png" alt="Early Bird">
  </div>
  <div class="content">
    <div class="title">{{ 'supplier.pages.activation.title' | translate }}</div>
    <form class="forgetpassword-form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="password" for="password">{{ 'supplier.pages.reset.password' | translate }}</label>
        <span class="red-color">*</span>
        <!-->img class="passwordImg" src="../../../../assets/password.svg"-->
        <input id="password" (input)="passwordChecking($event.target.value)" type="{{ btnType }}" class="form-control"
          maxlength="15">
        <div class="showHidenBtn">
          <input type="button" class="showHidenBox" (click)="check()" value="{{ 'supplier.pages.reset.'+btnValue | translate }}">
        </div>
        <div [hidden]="passwordChecked">
          <div class="errorText" [hidden]="passwordCheckedSymbol">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check5' | translate }}
          </div>
          <div class="errorText" [hidden]="passwordCheckedLength">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check1' | translate }}
          </div>
          <div class="errorText" [hidden]="passwordCheckedUpperCase">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check3' | translate }}
          </div>
          <div class="errorText" [hidden]="passwordCheckedLowerCase">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check4' | translate }}
          </div>
          <div class="errorText" [hidden]="passwordCheckedNumber">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check2' | translate }}
          </div>
        </div>
        <label class="password" for="check">{{ 'supplier.pages.reset.check' | translate }}</label>
        <span class="red-color">*</span>
        <input id="check-password" (input)="passwordMatching($event.target.value)" type="{{ btnType }}" class="form-control"
          maxlength="15">
        <div class="" [hidden]="passwordCheckedMatch">
          <div class="errorText">
            <img class="errorImg" src="../../../../assets/error.svg">
            {{ 'supplier.pages.reset.check6' | translate }}
          </div>
        </div>
      </div>
      <div class="forgot">
        <div class="col">
          <div class="row privacy">
            <p>{{'supplier.pages.activation.privacy-agree' | translate}}</p>
            <a href="javascript:void(0);" (click)="openPrivacyModal(myModal)" > {{'supplier.pages.activation.privacy' | translate}}</a>
          </div>
          <button type="submit" class="btn-primary continue-btn">{{ 'supplier.pages.forget.continue' | translate }}</button>
          <button class="btn back-to-login" [routerLink]="['/supplier','signin']">{{
            'supplier.pages.forget.back-to-login' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #myModal>
    <div style=" padding: 15px 30px 15px 30px">
        <textarea [(ngModel)]='privacyContent'> </textarea>
        <div class="div-button">
                <button  class="btn btn-info" (click)="agree()">{{'supplier.pages.activation.agree' | translate}}</button>
        </div>
    
    </div>
  </ng-template>