
textarea{
    background-color:white;color:black;
    height: 240px;
    width: 100%;
}
.div-button{
    text-align:center;
    .agree-btn{
        margin-right: 20px
    }
    .disagree-btn{
        margin-left: 20px
    }
}
.privacy-container{
    height: 10% !important;
}