<div class="filters" hidden>
  <div class="offer-filter">
    <span>Apply a single offer across 5 opportunities</span>
    <div class="input-group offer-persentage">
      <input type="text" class="input">
      <div class="icon">%</div>
    </div>
    <div class="input-group offer-type">
      <input type="text" class="input" value="ARP">
      <div class="icon">
        <img src="assets/icons/arrow-down.svg">
      </div>
    </div>
    <a class="btn btn-primary">Set</a>
  </div>
  <div class="participation-filter">
    <span>Turn participation</span>
    <div class="radio-group">
      <input id="type-opt1" [(ngModel)]="participation" value="closed" type="radio">
      <label for="type-opt1">CLOSED</label>
      <input id="type-opt2" [(ngModel)]="participation" value="all_on" type="radio">
      <label for="type-opt2">ALL ON</label>
    </div>
  </div>
</div>
<div class="table-markets">
  <table>
    <thead>
      <tr>
        <th>{{ 'supplier.pages.markets.table.participation' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.division' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.ar' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.offer' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.clearing' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.non-clearing' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.discount' | translate }}</th>
        <th class="text-center">{{ 'supplier.pages.markets.table.dpe' | translate }}</th>
        <th>{{ 'supplier.pages.markets.table.pay-date' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let market of markets" [ngSwitch]="market.isNewMarket()">
        <tr *ngSwitchCase="true">
          <td colspan="9" class="new-market">
            <div class="market-container">
              <div class="market-description">
                <h1>{{ market.supplier }}</h1>
                <div class="view-invoice">
                  <a [routerLink]="['/supplier', 'markets', market.id, 'invoices']">
                    {{ 'supplier.pages.markets.view' | translate }}
                  </a>
                </div>
                <div class="subtext">
                  {{ 'supplier.pages.markets.subtext' | translate: { value: (market.availableAmount | currency: market.currency), buyer: market.buyer, currency: market.currency, dpe: market.DPE } }}
                </div>
              </div>
              <div class="configure-offer">
                <a class="btn btn-secondary"
                   [routerLink]="['/supplier', 'markets', market.id, 'invoices']">
                  {{ 'supplier.pages.markets.config-offer' | translate }}
                </a>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngSwitchCase="false">
          <td class="participation-block">
            <eb-checkbox (ngModelChange)="setParticipation(market, $event)" [ngModel]="market.isParticipation === 1"></eb-checkbox>
          </td>
          <td>
            <div>
              <a [routerLink]="['/supplier', 'markets', market.id, 'invoices']">
                {{ market.buyer }} ({{ market.currency }})
              </a>
            </div>
            <div>{{ market.supplier }}</div>
            <div>{{ market.vendorcode }}</div>
          </td>
          <td>{{ market.availableAmount | currency: market.currency }}</td>
          <td>
            <eb-inline-edit [ngModel]="market.offerApr"
                            (ngModelChange)="setOfferApr(market, $event)"
                            [disabled]="market.isLocked()"
                            black
                            #offerAprEdit>
            </eb-inline-edit>
            <ng-container *ngIf="!offerAprEdit.isOpen">
              {{ market?.offerApr }}% APR
              <a class="edit-btn pointer"
                 (click)="offerAprEdit.open()"
                 tooltip="{{ 'supplier.pages.markets.waiting-status' | translate }}"
                 placement="bottom"
                 [isDisabled]="!market.isLocked()">
                <img src="assets/icons/pencil-dark.svg">
              </a>
            </ng-container>
            <!--<a href="javascript:void(0);">-->
              <!--{{ market.offerApr }}% APR-->
            <!--</a>-->
          </td>
          <td class="turn-on text-center" colspan="3" *ngIf="!market.isParticipation">
            {{ 'supplier.pages.markets.turn-on' | translate }}
          </td>
          <ng-container *ngIf="market.isParticipation">
            <td>{{ market.clearingAmount | currency: market.currency }}</td>
            <td>{{ market.noclearingAmount | currency: market.currency }}</td>
            <td><span *ngIf="market.discount !== 0">{{ market.discount }}</span></td>
          </ng-container>
          <td class="text-center">{{ market.DPE }}</td>
          <td>{{ market.paydate }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<div class="pages" hidden>
  <pagination [totalItems]="40" nextText=" " previousText=" "></pagination>
</div>
