:host {
    align-items: center;
    background-color: #3d7ab3;
    bottom: 0;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
  }
  
  .container {
    box-shadow: 0 4px 12px -4px #000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    height: 394px;
    margin: 0 auto;
    position: relative;
    width: 612px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  
    .right-side {
      background: linear-gradient(0, #3d7ab3, #24457C);
      text-align: center;
      min-width: 242px;
      width: 242px;
  
      img {
        display: inline-block;
        margin-top: 92px;
        width: 75px;
      }
    }
}

.content {
    background-color: #fff;
    padding: 30px 32px 0;
    position: relative;
    width: 100%; 
    color: #383838;
    border-radius: 3px;
    
    .title{
        font-size: 26px;
        border-bottom: 1px solid lightgray;
        width: 100%;
        margin-bottom: 20px;
        font-weight: 400;
    }
}

.forgetpassword-form{
    
    .form-group {
        margin-bottom: 1rem;
    }

    .form-control{
        border: 1px solid #E8E9EC;
        border-radius: 4px;
        padding: 0px 16px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        height: 38px;
        outline: none;
        width: 100%;
    }

    .emailLabel{
        margin: 15px 0px 9px 0px !important;
        font-weight: bold;
        display: inline-block;
    }
}

.forgot{
    margin-bottom: 20px;
    margin-top: 32px;
    display: flow-root;
    
    .continue-btn{
        background-color: #589b3c;
        color: #fff !important;
        padding: 11px;
        border-radius: 5px;
        font-size: 14px;
        float: right;
        border: 0px;
    }
    .back-to-login{
        background: white;
        border: 0px;
        color: #134467;
        font-weight: normal;
        font-size: 14px;
        float: right;
    }
    .back-to-login:hover{
        box-shadow: none;
    }
}

@media(max-width: 767px) {
    :host {
      display: block;
    }

    .right-side {
        display: none;
      }

    .container {
      width: 100%;
      min-height: 100%;
  
      .content {
        border-radius: 0 !important;
        padding: 30px 20px;
      }
    }
  }