<div class="container">
  <div class="right-side">
    <img src="./assets/logo.svg" alt="Early Bird">
  </div>
  <div class="content" *ngIf="!showForgetPasswordMessage">
    <div class="title">{{ 'supplier.pages.forget.title' | translate }}</div>
    <label>{{ 'supplier.pages.forget.instructions' | translate }}</label>
    <form class="forgetpassword-form" #forgetPasswordForm="ngForm" (ngSubmit)="forgetPassword(forgetPasswordForm)" novalidate>
      <div class="form-group">
        <label class="emailLabel" for="email">{{ 'supplier.pages.forget.label.email' | translate }}</label>
        <span class="red-color">*</span>
        <input id="email" type="text" name="email" class="form-control" ngModel #email="ngModel" spellcheck="false">
      </div>
      <div class="forgot">
        <button type="submit" class="btn-primary continue-btn">{{ 'supplier.pages.forget.continue' | translate }}</button>
        <button class="btn back-to-login" [routerLink]="['/supplier','signin']" href="javascript:void(0);">{{ 'supplier.pages.forget.back-to-login' | translate }}</button>
      </div>
    </form>
  </div>
  <div class="content" *ngIf="showForgetPasswordMessage">
    <div class="title">{{ 'supplier.pages.forget-password-message.title' | translate }}</div>
    <form class="forgetpasswordmessage-form" #forgetPasswordMessageForm="ngForm" novalidate>
      <div class="form-group">
        <p [innerHTML]="'supplier.pages.forget-password-message.message' | translate: { email: 'support@eb-cf.com', forgetmail:'xxx@xx' }"
          class="messageLabel" for="email"></p>
      </div>
      <div class="forgot">
        <button class="btn back-to-login" [routerLink]="['/supplier','signin']" href="javascript:void(0);">{{ 'supplier.pages.forget-password-message.back-to-login' | translate }}</button>
      </div>
    </form>
  </div>
</div>