:host {
  align-items: stretch;
  align-content: stretch;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.left-bar {
  max-width: 229px;
  min-width: 229px;
  width: 229px;
}

.menu {
  display: block;
  height: 30px;
  flex-grow: 1;
  padding-left: 10.5%;

  li {
    display: inline-block;
    //height: 100%;
    line-height: 30px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 75px;

    a {
      color: #000 !important;
    }

    &.active a {
      font-weight: 700;
    }
  }

  li.active {
    border-bottom: 2px solid #005799;
  }
}

.info {
  display: flex;
  align-items: stretch;
  height: 30px;

  .pay-date {
    color: #000;
    font-size: 10px;
    line-height: 30px;
    //font-weight: 700;
    margin-right: 15px;

    img {
      margin-right: 1px;
      height: 12px;
      width: 12px;
    }
  }

  .buyer-name{
      line-height:30px;
      color:#000;
      padding-right:10px;
      font-size:12px;
  }
}

@media(max-width: 1000px) {
  .left-bar {
    display: none;
  }
}

@media(max-width: 768px) {
  .info {
    margin: 0 20px 0 0;
  }

  .menu li {
    margin-right: 0;
  }

  .pay-date {
    span {
      display: none;
    }
  }
}
