<!--<div class="left-bar">{{ buyerName }}</div>-->

<ul class="menu" style="margin-left:250px;">
  <li routerLinkActive="active">
    <a [routerLink]="['/supplier', 'markets', buyId, 'invoices']">
      {{ 'supplier.components.market-header.menu.invoices' | translate }}
    </a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="['/supplier', 'markets', buyId, 'history']">
      {{ 'supplier.components.market-header.menu.history' | translate }}
    </a>
  </li>
</ul>

<div class="info">
  <eb-timer></eb-timer>

  <div class="pay-date"
       tooltip="{{ 'supplier.components.market-header.pay-date' | translate }}: {{ payDate }}"
       placement="left">
    <img class="pointer" src="./assets/icons/calendar.svg">
    <span>{{ 'supplier.components.market-header.pay-date' | translate }}: {{ payDate }}</span>
  </div>
</div>
