:host {
  color: #000;
  display: inline-block;
  font-size: 10px;
  line-height: 30px;
}

.icon {
  height: 11px;
  line-height: 30px;
  width: 11px;
  color:#000;
}

.market-close {
  color: #51f742;
  font-size: 10px;
  font-weight: 700;
  margin-left: 6px;
  line-height: 30px;
}

@media(max-width: 1000px) {
  span {
    display: none;
  }
}
