<div class="title" [innerHTML]="'core.components.faq.title' | translate"></div>
<div class="container">
  <div class="block">
    <div class="question" [innerHTML]="'core.components.faq.question1' | translate"></div>
    <div class="answer" [innerHTML]="'core.components.faq.answer1' | translate"></div>
  </div>
  <div class="block center-block">
    <div class="question" [innerHTML]="'core.components.faq.question2' | translate"></div>
    <div class="answer" [innerHTML]="'core.components.faq.answer2' | translate"></div>
  </div>
  <div class="block">
    <div class="question" [innerHTML]="'core.components.faq.question3' | translate"></div>
    <div class="answer" [innerHTML]="'core.components.faq.answer3' | translate"></div>
  </div>
</div>

<div class="subtitle" [innerHTML]="'core.components.faq.subtitle' | translate"></div>

<div class="button-container">
  <a href="javascript:void(0);" class="btn" [innerHTML]="'core.components.faq.create-account' | translate"></a>
</div>
