:host {
  border-top: 1px solid #ececec;
  display: block;
}

.menu {
  display: block;
  text-align: center;
  margin-top: 18px;

  li {
    display: inline-block;
    margin: 0 30px;

    a {
      color: #262626;
      font-size: 13px;
    }
  }
}

footer {
  color: #7c7d7e;
  margin-top: 36px;
  text-align: center;
  font-size: 13px;
  margin-bottom: 10px;
}

@media(max-width: 700px) {
  .menu {
    li {
      display: block;
      margin-bottom: 10px;
    }
  }
}
