<!-->ul class="menu">
  <li><a href="javascript:void(0);">{{ 'core.components.footer.menu.about' | translate }}</a></li>
  <li><a href="javascript:void(0);">{{ 'core.components.footer.menu.customer-service' | translate }}</a></li>
  <li><a href="javascript:void(0);">{{ 'core.components.footer.menu.careers' | translate }}</a></li>
  <li><a href="javascript:void(0);">{{ 'core.components.footer.menu.terms' | translate }}</a></li>
  <li><a href="javascript:void(0);">{{ 'core.components.footer.menu.contact' | translate }}</a></li>
</ul-->

<footer>{{ 'core.components.footer.copy' | translate }} ©2018 {{ 'core.components.footer.copy_website' | translate }} <a href="http://www.miitbeian.gov.cn/">粤ICP备18084214号</a> </footer>
