<ng-container>
    <div class="dialog-title">
        <span class="title1"> {{ 'supplier.pages.markets.dialog-offer.title1-title' | translate }}{{ values }}{{ 'supplier.pages.markets.dialog-offer.title1' | translate }}</span>
        <br />
        <span class="title2">{{ 'supplier.pages.markets.dialog-offer.title2' | translate }}</span>
        <table class="tabinfo">
            <tr>
                <td>
                    <img class="closeico" src="assets/clock.png"/> 
                </td>
                <td>
                    <img class="closeico" src="assets/right.png" />
                </td>
                <td>
                    <img class="closeico" src="assets/checked.png" />
                </td>
                <td>
                    <img class="closeico" src="assets/right.png" />
                </td>
                <td>
                    <img class="closeico" src="assets/calendar.png" />
                </td>
            </tr>
            <tr>
                <td>
                    {{ hours | number: '2.0' }} {{ 'supplier.pages.markets.dialog-offer.hours' | translate }} {{ minutes | number: '2.0' }} {{ 'supplier.pages.markets.dialog-offer.minutes' | translate }} {{ 'supplier.pages.markets.dialog-offer.tab1' | translate }}
                </td>
                <td></td>
                <td>
                    {{ 'supplier.pages.markets.dialog-offer.tab2' | translate }}
                </td>
                <td></td>
                <td>
                    {{ 'supplier.pages.markets.dialog-offer.tab3-title' | translate }}{{ payDate }}{{ 'supplier.pages.markets.dialog-offer.tab3' | translate }}
                </td>
            </tr>
        </table>
        <div class="title3">
            {{ payDate }}{{ 'supplier.pages.markets.dialog-offer.title3' | translate }}
        </div>
    </div>
    <div class="dialog-body">
        <input type="checkbox"/>
        <span class="btn1">{{ 'supplier.pages.markets.dialog-offer.btn1' | translate }}</span>
        <span class="btn2" (click)="bsModalRef.hide()">{{ 'supplier.pages.markets.dialog-offer.btn2' | translate }}</span> 
    </div>
</ng-container> 