<ng-container>
    <div class="dialog-title">
        <img src="assets/checked.png"/>
        <br />
        <span>{{ 'supplier.pages.markets.dialog-participation.title' | translate }}</span>

        <img class="closeico" src="assets/close.png" (click)="bsModalRef.hide()"/> 
    </div>
    <div class="dialog-body">
        <div>
            <span>{{ 'supplier.pages.markets.dialog-participation.info1' | translate }}</span>
            <span class="weightbold">{{ 'supplier.pages.markets.dialog-participation.info2' | translate }}</span>
            <span>{{ 'supplier.pages.markets.dialog-participation.info3' | translate }}</span>
        </div>
        <div class="m15">
            <span class="btn1" (click)="doConfirm()">{{ 'supplier.pages.markets.dialog-participation.participate' | translate }}</span>
            <span class="btn2" (click)="doCancel()">{{ 'supplier.pages.markets.dialog-participation.cancel' | translate }}</span>
        </div>
        <div>
            {{ 'supplier.pages.markets.dialog-participation.tip' | translate }}
        </div>
        <div>
            <input type="checkbox" (click)="setCheckbox()">
            <span class="">{{ 'supplier.pages.markets.dialog-offer.btn1' | translate }}</span>
        </div>
    </div>
</ng-container> 