<div class="content">
  <div class="side side1">
    <div class="title">
      <div class="icon">
        <img src="./assets/icons/building.svg">
      </div>
      <div class="title-text" [innerHTML]="'core.components.sides.buyer.title' | translate"></div>
    </div>
    <ul class="list">
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.buyer.opt1' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.buyer.opt2' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.buyer.opt3' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.buyer.opt4' | translate }}</span>
      </li>
    </ul>
  </div>

  <div class="side side2">
    <div class="title">
      <div class="icon">
        <img src="./assets/icons/men.svg">
      </div>
      <div class="title-text" [innerHTML]="'core.components.sides.supplier.title' | translate"></div>
    </div>
    <ul class="list">
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.supplier.opt1' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.supplier.opt2' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.supplier.opt3' | translate }}</span>
      </li>
      <li>
        <img src="assets/icons/check.svg">
        <span>{{ 'core.components.sides.supplier.opt4' | translate }}</span>
      </li>
    </ul>
  </div>
</div>

<div class="button-container">
  <a href="javascript:void(0);" class="btn" style="display: none">{{ 'core.components.sides.lean-more' | translate }}</a>
</div>
