:host {
  display: inline-block;
}

.container {
  transition: background-color 0.2s ease-out;
  background-color: #f0f2f8;
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
  width: 33px;

  &.active {
    .slider {
      margin-left: 15px!important;
    }
  }

  .slider {
    background-color: #8ed8f8;
    border-radius: 5px;
    transition: margin 0.2s ease-out;
    height: 10px;
    width: 18px;
  }

  &.on-off-mode {
    border-radius: 10px;
    background-color: #cc3333;
    height: 18px;
    width: 43px;
    padding-left: 0;

    &.active {
      background-color: #33cc33 !important;

      .slider {
        margin-left: 25px!important;
      }
    }

    .slider {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 1px #000;
      font-size: 10px;
      line-height: 18px;
      height: 18px;
      width: 18px;
    }
  }
}
