<div class="title">{{ 'core.components.why.title' | translate }}</div>
<div class="content">
  <div class="side buyer-side">
    <div class="side-title">{{ 'core.components.why.buyer-title' | translate }}</div>
    <div class="side-subtitle" [innerHTML]="'core.components.why.buyer-desc' | translate"></div>
    <img src="assets/man.svg" alt="Buyer">
  </div>
  <div class="side supplier-side">
    <div class="side-title">{{ 'core.components.why.supplier-title' | translate }}</div>
    <div class="side-subtitle" [innerHTML]="'core.components.why.supplier-desc' | translate"></div>
    <img src="assets/hands.svg" alt="Supplier">
  </div>
</div>
